@tailwind base;
@tailwind components;
@tailwind utilities;


.fondo{
    
    background-image: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

::-webkit-scrollbar{
    
    display: none;
    
    
}